.right {
    justify-content: flex-end;
}

.text-left {
    text-align: left;
}

.card-img {
    border-radius: 3%;
    width: 300px !important;
    height: 150px !important;
    object-fit: cover;
}

